body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

ul, nav {
  font-family: sans-serif;
}

h1.logo {
  text-transform: uppercase;
}

main.wrapper {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

p + strong {
  color: #fff;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

li:nth-last-child(3) .no-highlight {
  background-color: #2694d8;
}

ol li: first-child {
  color: #719e47;
}
